
.low-items {
  margin-top: 40px !important;
    margin-bottom: 30px !important;
}

hr {
  width: 50%;
  margin-top: 30px;
}
.remove-border {
  border: none !important;
  .item:last-child {
    border: none !important;
  }
}

.ui.grid > .column:not(.row) {
  padding-top: 3rem !important;
  padding-bottom: 0rem;
}
.focused-wrapper > div > div {
  margin: auto 0;
  text-align: left;
}

.focused-wrapper {

  text-align: center;
}



.ui.grid {
  justify-content: center;
}

.student-photo {
  height: 140px;
  width: 140px;
  border: 8px solid #fff7f7;
  border-radius: 100px;
  box-shadow: 0 0 0 1px #d4d4d5, 0 2px 4px 0 rgba(34, 36, 38, 0.12),
    0 2px 10px 0 rgba(34, 36, 38, 0.15);
  object-fit: cover;
}
.student-overview-container {
  width: 55vw;
  margin-top: 8vh;
  .active {
    background: none #282c34c4 !important;
    color: rgba(255, 255, 255, 0.95) !important;
    border-color: snow !important;
  }
}
.ui.attached.tabular.menu {
  width: 98% !important;
}
/*
.student-stats-container{
    border: 1px solid blue;
    width: 150px;
    height: 80vh;
}
*/
.student-profile-container {
  display: flex;
  justify-content: center;
  margin-top: 3rem;
  .ui.raised.card {
    background-color: snow;
    box-shadow: none !important;
    .image {
        background: 0 !important;
    }
    div > img {
      border: 8px solid rgb(255, 255, 255);
      box-shadow: 0 0 0 1px #d4d4d5, 0 2px 4px 0 rgba(34, 36, 38, 0.12),
        0 2px 10px 0 rgba(34, 36, 38, 0.15);
      object-fit: cover;
      padding: 0 !important;
    }
  }
  .content {
    border-top: none !important;
    // border-bottom: 1px solid #5a5c62 !important;
    .ui.card > :last-child {
      border-radius: 0 !important;
    }
  }
}

.profile-comp {
  grid-area: "StudentProfile";
  margin-top: 5rem;
}

.progress-comp {
  grid-area: "Stats";
  display: inline-grid !important;
  justify-content: center !important;
  margin-top: -3rem !important;
}

.student-overview {
  grid-area: "Overview";
}

.profile-comp {
  grid-area: Profile;
}

.image {
  // width: 80%;
  margin: auto;
  // background: rgb(40, 44, 52) !important;

  .ui.card > :first-child {
    border-radius: 30px !important;
  }
  img {
    height: 200px !important;
    width: 200px !important;
    /* border: 8px solid #fff7f7; */
    border-radius: 100px !important;
    box-shadow: 0 0 0 1px #d4d4d5, 0 2px 4px 0 rgba(34, 36, 38, 0.12), 0 2px 10px 0 rgba(34, 36, 38, 0.15) !important;
    object-fit: cover !important;
  }
}

.progress-comp {
  grid-area: Stats;
}

.student-overview {
  grid-area: Overview;
  margin-top: 3rem;
}

.student-container {
  height: 90vh;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  gap: 1px 1px;
  grid-template-areas: "Profile Overview Overview Overview" "Stats Overview Overview Overview";
  background-color: snow;

  //   margin-top: 1rem;
}

.card {
  position: relative;
}

.course-comp {
  border: 1px solid #ccc;
  border-radius: 10px;
  padding: 1rem;
  margin: 15px;
  box-shadow: 0 0 0 1px #d4d4d5, 0 2px 4px 0 rgba(34, 36, 38, 0.12),
    0 2px 10px 0 rgba(34, 36, 38, 0.15);
  background-color: #fff3f387;
  h2{
    text-align: center !important;
  }
  .go-right{
    text-align: right;
    margin-right: 2rem;
    font-size: 15px !important;
  }
}

.side-border {
  padding-top: 10px;
  overflow-y: scroll;
  max-height: 65vh;
}

.side-border-teacher {
  margin-top: 40px;
  overflow-y: scroll;
  max-height: 45vh;
}
.item:last-child {
  border: 1px solid #ccc !important;
  border-radius: 6px;
  margin-bottom: 10px;
}

@media (max-width: 904px) {
  .profile-comp {
    grid-area: Profile;
    display: none;
  }

  .progress-comp {
    grid-area: Stats;
    display: none !important;
  }

  .student-overview {
    grid-area: Overview;
    margin: auto;
  }

  .student-container {
    height: 90vh;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr;
    gap: 1px 1px;
    grid-template-areas: "Overview";
    background-color: snow;

  }
  .ui.attached.tabular.menu {
    margin-top: 1rem !important;
  }

}

@media (max-width: 835px) {
  .student-overview-container {
    width: 100vw;
  }
}

@media (max-width: 578px) {
  .right{
    .item:last-child {
      display: none !important;
    }

  }
}

@media (max-width: 868px) {
  .ui.attached.tabular.menu {
    margin-top: 1rem !important;
  }
  .side-border {
    padding-top: 10px;
    overflow-y: scroll;
    max-height: 75vh;
  }
}
@media (max-width: 360px) {
  .ui.attached.tabular.menu {
    display: grid;
    margin-top: 1rem;
  }
  .side-border {
    max-height: 60vh;
  }


}

@media(max-width: 430px) {

  .student-photo {
    display: none !important;
  }
}



@media(max-width: 620px) {

  .low-items {
    display: grid;

    .assignment{
      text-align: left;
      margin-top: 10px;

   }

  }
  .ui.button{
    width: fit-content;

  }

}


