.course-comp{
    // box-shadow: 0 0 0 1px #d4d4d510, 0 2px 4px 0 rgba(34, 36, 38, 0.048), 0 2px 10px 0 rgba(34, 36, 38, 0.055) !important;
    h2{
        text-align: left;
    }
}

.low-items{
    margin-top: 100px;

    button{
        float: right;
        margin-top: -6px !important;
    }

    p{
        float: right;
        padding-top: 3px;
        padding-right: 10px;
    }
}

.prog-bar{
    width: 60% !important;

    margin-top: 10px !important;

}