.view-student-container{
    border: 1px solid red;
}
.info-container{
    display: flex;

}

.left-items{
    float: left;

    img{

    }

    p{

    }
}

.right-items{
    float: right;
}

.student-info{
    display: block;
}

