.view-student-container{
    border: 1px solid red;
}
.info-container{
    display: flex;

}

.search-students{
    h1{
        border-bottom: 1px solid #ccc;
    padding-bottom: 10px;
    margin-bottom: 10px;
    }
}

.left-items{
    float: left;
}

.right-items{
    float: right;
}
// .item-grade{
//     display: inline-flex;
//     p{
//         margin-right: 1rem;
//         padding-top: 10px;
//     }

// }

.grade{
    margin-top: 1rem;
}

.final-grade{
    margin-top: 1rem;
}
.student-info{
    display: block;
}

.modal-grades{
    text-align: center;
}

.modal-title{
    text-align: center !important;
}

.ui.modal>.actions {
    text-align: center !important;
}
.ui.modal>.header {
    display: inline-flex !important;
}

.sorted-assign {
    margin: 2rem;
    display: list-item;
    border-bottom: 1px solid #ccc !important;

    h4{
        margin-top: 8px !important;
        margin-bottom: 15px !important;
    }
    h3{
        margin-top: 8px !important;
    }
}

.student-list-dissapear{
    display: block;
}

@media(min-width: 904px) {

    .student-list-dissapear {

        display: none !important;

    }
}

