@import './styles/containers.scss';
@import './styles/stats.scss';
@import './styles/nav.scss';
@import './styles/courses.scss';
.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 5vh;
  display: flex;
  flex-direction: column;

  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

::-webkit-scrollbar {
  width: 5px;

}
/* Track */
::-webkit-scrollbar-track {
  background: rgb(102, 102, 102);

}

/* Handle */
::-webkit-scrollbar-thumb {
  /* background: #888;  */
  background: rgba(0, 0, 0, 0.096) !important;

}

footer{
  background-color: #282c34;
    min-height: 5vh;
}


@media(max-width: 1300px) {

  ::-webkit-scrollbar {

    margin-right: 1000px;


  }

}
