html{
  margin: 0px;
  padding: 0px;
}

.logo{
  margin-left: 0.3em;
  font-size: 4em;
  padding: 0.8em;
}

.loginHeader {
  height: 100px;
  display: flex;
  justify-content: flex-start;
}

.loginForm {
  height: 100vh;
}

.radioBtns {
  display: flex;
  flex-direction: row;
}

